
*
{
    margin: 0;
    padding:0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* background: linear-gradient(to right, #0066cc 20%, #01f573 80%); */
    background-color: #c7f8ff;


}
.contact
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
  
}

.contact .content
{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    /* color: #fff; */
}
.contact .content p
{
 
    font-weight: 300;
}
.container{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}
.container .contactInfo {
    width:50%;
    display : flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display:flex;
}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;

}

.container .contactInfo .box .text h3 
{
    font-weight: 500;
    color:navy;

}

.contactForm 
{
    width: 40%;
    padding: 40px;
    background: #ffffff;
}
.contactForm h2 
{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
    color: #ffffff;
}
.contactForm .inputBox input
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    color: #ffffff;
    /* border-bottom: 2px soild #030303; */
    border:none;
   
    
    outline: none;
    resize: none;
}

.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border:none;
    border-bottom: 2px soild #333;
    outline: none;
    resize: none;

}
.contactForm .inputBox span 
{
    position: absolute;
    left:0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

/* .contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
} */

.contactForm .inputBox input[type ="submit"]
{
    width: 100px;
    background: #00bcd5;
    color:bisque;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width:991px)
{

    .contact
    {
        padding:50px
    }
    .container
    {
        flex-direction: column;
    }
    .container .contactInfo .contactForm
    {
        width: 100%;
    }
}