body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #0066cc 20%, #01f573 80%);
    color: white;
    text-align: center;
}

.logo {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.description {
    font-size: 18px;
    max-width: 600px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.button {
    padding: 15px 40px;
    border: 2px solid white;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.button-account {
    padding: 15px 40px;
    border: 2px solid white;
    color: black;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s;
}
.button-account:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* styles for login and register pages */
.form-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-container input {
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
}

.form-container input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.form-container .button {
    margin-top: 10px;
    cursor: pointer;
}

.switch {
    margin-top: 20px;
    font-size: 14px;
}

.switch a {
    color: white;
    text-decoration: underline;
}

/* header styles */

.global-header {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
}

.global-header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.global-header nav ul li {
    margin-left: 20px;
}

.global-header nav ul li:first-child {
    margin-left: 0;
}

.global-header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    transition: opacity 0.3s;
}

.global-header nav ul li a:hover {
    opacity: 0.8;
}

.left-nav {
    display: flex;
    justify-content: flex-start;
}

.right-nav {
    display: flex;
    justify-content: flex-end;
}